readability
scikit-learn
nltk
gensim
pyLDAvis
langdetect
textblob
transformers
spacy
matplotlib
wordcloud
plotly
seaborn
counter
pandas
contractions
numpy
streamlit_option_menu
py-readability-metrics
openpyxl
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz
TensorFlow
